services:
  backend:
    image: ghcr.io/andreas-vester/projectvote-backend:latest
    ports:
      - "8008:8008"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    image: ghcr.io/andreas-vester/projectvote-frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
