services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8008:8008"
    volumes:
      - ./data:/app/data
    env_file:
      - .env

  frontend:
    build:
      context: ./src/projectvote/frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend